@use "@/styles/variables" as v;

.section:first-of-type {
    margin-bottom: 2rem;
}

ul.list {
    list-style: "• ";

    span.course-name {
        display: block;
        font-weight: bold;
        font-size: 1.1rem;
    }

    span.institution-name {
        display: block;
        &::before {
            content: "— ";
        }
    }
}

@media (max-width: 395px) {
    h2.title {
        font-size: 1.5rem;
    }
}