$bp-sm: 600px;
$bp-md: 700px;
$bp-lg: 940px;

@mixin sm {
    @media (max-width: $bp-sm) {
        @content;
    }
}

@mixin md {
    @media (max-width: $bp-md) {
        @content;
    }
}

@mixin lg {
    @media (max-width: $bp-lg) {
        @content;
    }
}