@use "@/styles/variables" as v;

.coffee-bar {
    p {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    progress {
        height: 16px;
        appearance: none;
        -webkit-appearance: none;
        border: none;
        border-radius: 5px;
        overflow: hidden;

        outline: 2px solid v.$color-7;
        background-color: #fff;

        &::-webkit-progress-bar {
            background-color: #fff;
        }

        &::-webkit-progress-value {
            background-color: v.$color-7;
        }

        &::-moz-progress-bar {
            background-color: v.$color-7;
        }
    }
}