@use "@/styles/variables" as v;

.coffee-bar {
    p {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.track {
    height: 16px;
    border-radius: 5px;
    overflow: hidden;
    outline: 2px solid v.$color-7;
    background-color: #fff;
}

.fill {
    height: 100%;
    background-color: v.$color-7;
    transition: width 800ms ease;
}
