@use "@/styles/variables" as v;
@use "@/styles/breakpoints" as bp;

body {
    &::selection {
        background-color: v.$color-1;
        color: v.$color-white;
    }

    &::-moz-selection {
        background-color: v.$color-1;
        color: v.$color-white;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    max-height: 800px;
    height: 90vh;
    margin: auto;
    font-family: var(--font-geist-sans);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: "sidebar main"
        "sidebar main"
        "social social";
    gap: 1rem;
}

.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    grid-area: sidebar;
}

.main {
    padding: 30px 60px;
    grid-area: main;
    overflow-y: auto;
    max-height: 100%;
    min-height: 570px;
    scrollbar-width: thin;
    scrollbar-color: v.$color-6 rgba(v.$color-4, 0.85);

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(v.$color-4, 0.85);
        border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover,
    &::-webkit-scrollbar-thumb:active {
        background-color: v.$color-6 !important;
        border-radius: 999px;
        border: 2px solid rgba(v.$color-4, 0.85);
    }

    h2 {
        color: v.$color-6;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: .5rem;
    }
}

.social {
    height: fit-content;
    grid-area: social;
    position: relative; // por conta do #version
}

.box {
    border: 6px solid v.$color-white;
    border-radius: 12px;
    background-color: rgba(v.$color-4, 0.9);
    box-shadow: 3px 4px 8px 6px rgba(0, 0, 0, 0.444);
}

@include bp.md {
    .container {
        height: auto;
        grid-template-areas: "sidebar"
            "main"
            "social"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}

@include bp.sm {
    .main {
        padding: 1rem 2rem;

        h2 {
            font-size: 1.6rem;
        }
    }
}