@use "@/styles/variables" as v;

$background-light: #fafafa;
$foreground-light: #fff;

$text-primary-light: #000;
$text-secondary-light: #666;

$button-primary-hover-light: #383838;
$button-secondary-hover-light: #f2f2f2;
$button-secondary-border-light: #ebebeb;

$background-dark: #000;
$foreground-dark: #000;

$text-primary-dark: #ededed;
$text-secondary-dark: #999;

$button-primary-hover-dark: #ccc;
$button-secondary-hover-dark: #1a1a1a;
$button-secondary-border-dark: #1a1a1a;


.container {
  width: 100%;
  max-width: 1200px;
  min-height: 90vh;
  margin: auto;
  font-family: var(--font-geist-sans);
  border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "sidebar main"
    "sidebar main"
    "social social";
  gap: 1rem;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  grid-area: sidebar;

  nav {
    width: 100%;
    height: 100%;
    padding: 1rem 0;

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      list-style: none;

      li {
        width: 100%;
        cursor: pointer;
        transition: background-color .25s ease-in;

        a {
          display: block;
          width: 100%;
          padding: .5rem 2rem;
          font-weight: bold;
          transition: background-color .25s ease-in;

          &:hover,
          &:focus-visible {
            background-color: v.$color-1;
            outline: none;
          }
        }
      }
    }
  }
}

.main {
  padding: 120px 60px;
  grid-area: main;
}

.social {
  height: 200px;
  grid-area: social;
}

.box {
  border: 6px solid v.$color-white;
  border-radius: 12px;
  background-color: rgba(v.$color-4, 0.85);
  box-shadow: 3px 4px 8px 6px rgba(0, 0, 0, 0.444);
}


@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}


// @media (prefers-color-scheme: dark) {
//   .logo {
//     filter: invert(1);
//   }

//   .page {
//     background-color: $background-dark;
//   }

//   .main {
//     background-color: $foreground-dark;
//   }
// }